TELEGRAM_BOT_TOKEN=<YOUR_TELEGRAM_BOT_TOKEN>
TELEGRAM_CHAT_ID=<YOUR_TELEGRAM_CHAT_ID>

DISCORD_WEBHOOK_URL=<YOUR_DISCORD_TRENDS_WEBHOOK_URL>
DISCORD_VETOS_WEBHOOK_URL=<YOUR_DISCORD_VETOS_WEBHOOK_URL>
DISCORD_NO_TREND_WEBHOOK_URL=<YOUR_DISCORD_NO_TREND_WEBHOOK_URL>

GEMINI_API_KEY=<YOUR_GEMINI_API_KEY>